header{
    position: absolute;
    top:0;
    left:0;
    width:100% ;
    /* padding: 20px 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 50px;
}
header ul{
    position: relative;
    display: flex;
    margin-left: 1050px;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 1000;
    margin-left: 30px;
    text-decoration: none;
    
}
h2
{
    margin-left: 140px;
    text-decoration: underline;
}
form
{
    position: absolute;
    margin-left: 90px;
    margin-top: 0px;
    height: 30%;
    width: 20%;
    padding: 10px;
    background:transparent;
    border-radius: 5px;
}
button{
    color: #a28089;
    border-radius: 20px;
}
body{
    background: url('../../assets/pinkishkeyboard.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.div2{
    background:rgb(0, 0, 0,0.1);
    height: 440px;
    width: 400px;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 770px;
    box-shadow: 0 0 10px #494D5F;
    border-radius: 5px;
}