<body>

    <section>
        <header>
            <a href="#"><img src="../../assets/TaskBeeLogo.png" class="logo" alt=""></a>
            <ul>
                <li><a style="cursor:pointer" (click)="nav2()">Contact</a></li>
                <li><a style="cursor:pointer" (click)="nav()">Login</a></li>
                <li><a style="cursor:pointer" (click)="nav1()">Register</a></li>
                <li><a style="cursor:pointer" (click)="nav3()">Home</a></li>
            </ul>
        </header>
        <div class="content">
            <h2>TaskBee</h2>
            <p>Stop thinking, Start finishing</p>
        </div>
    </section>
    <div class="container">
        <div class="image">
            <img src="../../assets/tabimage.webp" alt="AoutImage" style="width: 400px;height:300px">
        </div>
        <p style="color: black;font-weight: 600;">A TaskBee is an agile project management tool designed to help
            visualize work, limit work-in-progress, and
            maximize efficiency (or flow). It can help both agile and DevOps teams establish order in their daily work.
            TaskBee use cards, columns, and continuous improvement to help technology and service teams commit to the
            right amount of work, and get it done!</p>
        <a routerLink="contact" class="btn">Get in touch</a>
    </div>
    <div class="circle"></div>
</body>