<body >
    <section class="contact">
        <header>
            <a href="#"><img src="../../assets/TaskBeeLogo.png" class="logo" alt=""></a>
            <ul>
                <li><a style="cursor:pointer"  (click)="nav2()">About</a></li>
                <li><a style="cursor:pointer"  (click)="nav()">Login</a></li> 
                <li><a style="cursor:pointer"  (click)="nav1()">Register</a></li>
                <li><a style="cursor:pointer" (click)="nav3()">Home</a></li>        
            </ul>
        </header>
        <div class="content" >
            <h2>Contact Us</h2>
            <p>We are Here to Help you 24X7.<br>Please drop us a message we will contact you.</p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon" ></div>
                    <div class="text">
                        <h3><b>Address</b></h3>
                        <p>273 Grand St 6th Floor,<br> New York,<br> NY 10002, USA</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"></div>
                    <div class="text">
                        <h3><b>Phone</b></h3>
                        <p>+1 212-429-5831</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"></div>
                    <div class="text">
                        <h3><b>Email</b></h3>
                        <p>Ayushtyagi0705@gmail.com</p>
                        <p>Nikkhil18@gmail.com</p>
                        <p>Surmani12@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="contactForm">
                <form>
                    <h2>Message <img src="../../assets/981-consultation-lineal.gif" alt="" style="height:75px;width:75px;float:right;margin-right:230px;display: inline;margin-top: -55px;"></h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea required="required"></textarea>
                        <span>Type your message</span>
                    </div>
                    <div class="inputVox">
                        <input type="submit" name="" value="send">
                        
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
