
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img src="../../assets/TaskBeeLogo.png" class="logo" alt=""></a>
            <ul>
                <li><a  routerLink="about">About</a></li>
                <li><a  routerLink="contact">Contact</a></li>
                <li><a style="cursor:pointer"  (click)="nav()">Login</a></li> 
                <li><a style="cursor:pointer"  (click)="nav1()">Register</a></li>        
            </ul>
        </header>
        <div class="content">
            <div class="textBox">
                <h2>Build a map of<br>your<span> Work</span></h2>
                <p>It allows teams to have a clear overview of all work items
                    and to control them through the different
                    stages of their workflow</p>
                <a style =" box-shadow: 0 0 10px #c89666" routerLink="about">Learn More</a>
            </div>
                <div class="imgBox">
                    <img src="../../assets/1167-coral-lineal.gif" style="height: 300px;" alt="">
                </div>
            </div>
            <ul class="thumb">
                <li><img src="../../assets/thumbnail1.jpg" ></li>
                <li><img src="../../assets/thumbnail2.jpg" ></li>
                <li><img src="../../assets/thumbnail3.jpg" ></li>
            </ul>
            <ul class="sci">
                <li><a href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjY0ODcxODIyLCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D"><img src="../../assets/facebook.png"></a></li>
                <li><a href="https://twitter.com/i/flow/login"><img src="../../assets/twitter.png"></a></li>
                <li><a href="https://www.instagram.com/accounts/login/?source=auth_switcher"><img src="../../assets/instagram.png"></a></li>
            </ul>
            <ul>

            </ul>
    </section>
   
</body>